@model Recipe_search_program.Models.Product

@{
    ViewData["Title"] = "Add Products";
}

<div class="container">
    <h2>Add products</h2>
    <form asp-action="AddProduct" method="post">
        <div>
            <label asp-for="NameProduct" class="form-label"></label>
            <input asp-for="NameProduct" class="form-control" placeholder="Product Name" />
            <span asp-validation-for="NameProduct" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Enable" class="form-label" hidden></label>
            <input asp-for="Enable" class="form-control" placeholder="Product Name" hidden value="false"/>
        </div>
        <div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>