@model IEnumerable<Recipe_search_program.Models.Product>

<head>
    <link rel="stylesheet" href="~/css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.enable-checkbox').change(function() {
                var checkbox = $(this);
                var productId = checkbox.data('id');
                var isChecked = checkbox.is(':checked');

                $.ajax({
                    url: '@Url.Action("UpdateEnable", "Products")',
                    type: 'POST',
                    data: {
                        id: productId,
                        enable: isChecked
                    },
                    success: function() {
                        console.log('Update successful');
                    },
                    error: function() {
                        console.log('Update failed');
                    }
                });
            });
        });
    </script>
</head>

<body>
    <table class="product-list" id="productTable">
        <thead>
            <tr>
                <th>Product</th>
                <th>Enable?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => product.NameProduct)</td>
                    <td>
                        <input type="checkbox" class="enable-checkbox" data-id="@product.Id"
                        @(product.Enable == true ? "checked" : "") />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="AddProduct">Add new product</a>
    <a asp-action="Search">Search recipe</a>
</body>
