<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recipe_search_program</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Recipe_search_program.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Products" asp-action="List">Recipe search program</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <nav>
            &copy; 2024. Valera Sychenko
            <ul class="icons">
                <li>
                    <a href="https://www.facebook.com/valera.sychenko" target="_blank"><img src="~/image/facebook_icon.png" alt="Facebook" /></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/valerasychenko/" target="_blank"><img src="~/image/instagram_icon.png" alt="Instagram" /></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/valera-sychenko-3bab642a2/" target="_blank"><img src="~/image/linkedin_icon.png" alt="Linkedin" /></a>
                </li>
            </ul>
        </nav>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
